@import "src/App";

.app {

  .header {
    background-color: $primaryDark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .heading {
      font-weight: 100;
      font-size: calc(40px + 2vmin);
      background: rgb(231, 208, 124);
      background: $primaryGoldGradient;
      color: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &-underline {
        width: 100%;
        height: 1px;
        background: rgb(231, 208, 124);
        background: $primaryGoldGradient;
        margin-top: .7rem;
        margin-bottom: 1rem;
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;


      &-box {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 2rem;
        background: rgb(231, 208, 124);
        background: $primaryGoldGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-link {
        text-decoration: none;
        color: currentColor;
      }
    }

  }
}

@media screen and (max-width: 992px) {

  .app {

    .header {

      .heading {
        font-size: calc(30px + 2vmin);
      }
    }
  }

}