@import "scss/main";

.container {
  display: flex;
  flex-direction: row;

  .nav-wrapper {
    width: $navWidth;
    background: $primaryDark;
  }
}

.app {
  width: 100%;

  .slide-out {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top;
    z-index: 1;
  }

  .first-slide-out {
    background: $primaryDark;
  }

  .second-slide-out {
    background: $primaryGoldGradient;
  }
}