@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import "./App";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


::selection {
  color: #B68013;
  background: $primaryDark;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;

  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}


body {
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: $primaryGoldDark;
}

::-webkit-scrollbar-track {
  background-color: #646464;
}

::-webkit-scrollbar-track-piece {
  background-color: $primaryDark;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $primaryGoldDark;
}

::-webkit-scrollbar-corner {
  background-color: #646464;
}

::-webkit-resizer {
  background-color: #666;
}


