$primaryGoldDark: #B68013;
$primaryGoldLight: #E7D07C;
$primaryGoldGradient: linear-gradient(90deg, rgba(231, 208, 124, 1) 0%, rgba(182, 128, 19, 1) 40%, rgba(182, 128, 19, 1) 60%, rgba(231, 208, 124, 1) 100%);

$primaryDark: #0a0a0a;
$primaryLight: #fafafa;


$navWidth: 4rem;